[submodule "thirdparty/curlcpp"]
	path = thirdparty/curlcpp
	url = https://github.com/JosephP91/curlcpp.git
[submodule "thirdparty/cpp-html"]
	path = thirdparty/cpp-html
	url = https://github.com/povilasb/cpp-html.git
